---
projects:
  - title: KCBJ Online
    links:
      - icon: 'fa-share-square-o'
        href: 'http://www.kcbj.be'
    image: /images/projects/wwwkcbjbe.png
    tags: [ 'Ruby on Rails', 'Ruby', 'MySQL' ]
  - title: KorfZone Website
    links: 
      - icon: 'fa-share-square-o'
        href: 'http://www.korfzone.be'
    image: /images/projects/wwwkorfzonebe.png
    tags: [ 'Ruby on Rails', 'Ruby', 'MySQL' ]
  - title: KorfZone Scraper
    image: /images/projects/korfzone-scraper.png
    links:
      - icon: 'fa-github'
        href: 'http://github.com/korfzone/korfzone-scraper'
      - icon: 'fa-code'
        href: 'http://rubygems.org/gems/korfzone-scraper'
    tags: [ 'Ruby', 'Rubygem' ]
  - title: Mapview
    image: /images/projects/mapviewherokuappcom.png
    links:
      - icon: 'fa-github'
        href: 'http://github.com/rutgerclaes/mapview'
      - icon: 'fa-share-square-o'
        href: 'http://mapview.herokuapp.com'
    tags: [ 'Scala', 'Play', 'Akka' ]
  - title: 'Apotheek Philips'
    image: /images/projects/wwwapotheekphilipsbe.png
    links:
      - icon: 'fa-share-square-o'
        href: 'http://www.apotheekphilips.be'
    tags: [ 'Static' ]
  - title: Kunst voor Huize de Veuster
    image: /images/projects/wwwkunstvoorhuizedeveusterbe.png
    links: []
    tags: [ 'Static' ]
  - title: Personal site
    image: /images/projects/wwwrutgerclaesbe.png
    links:
      - icon: 'fa-share-square-o'
        href: 'http://www.rutgerclaes.be'
      - icon: 'fa-github'
        href: 'http://github.com/rutgerclaes/rutgerclaes.github.io'
    tags: [ 'Static', 'Middleman' ]
  - title: De BloedBank API
    image: /images/projects/bloedbank.png
    links: 
      - icon: 'fa-github'
        href: 'http://github.com/rutgerclaes/bloedbank'
    tags: [ 'Ruby on rails', 'Ruby' ]
  - title: De BloedBank documentation
    image: /images/projects/bloedbankdoc.png
    links:
      - icon: 'fa-github'
        href: 'http://github.com/rutgerclaes/bloedbank/tree/doc'
      - icon: 'fa-share-square-o'
        href: 'http://rutgerclaes.github.io/bloedbank'
    tags: [ 'Static', 'Middleman' ]

---
= partial "partials/header"
= partial "partials/about"
= partial "partials/research"
= partial "partials/projects"
= partial "partials/contact"
= partial "partials/footer"
